<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680594428150-5rfkqumktcbu5sn2pme5c158nqqpusuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680594428150-5rfkqumktcbu5sn2pme5c158nqqpusuo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>680594428150-0qrfue47qm2fres3314l6deg772hbbek.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQGeB-QtIN-iSWPYVLnXI59snHKBrrGLM</string>
	<key>GCM_SENDER_ID</key>
	<string>680594428150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iqonic.vizionai</string>
	<key>PROJECT_ID</key>
	<string>vizion-ai-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vizion-ai-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680594428150:ios:9b344cfa844914d6c3dcd7</string>
</dict>
</plist>